<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402738181890-878tji0bbg1k07ov1noosg8j78gqfg3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402738181890-878tji0bbg1k07ov1noosg8j78gqfg3l</string>
	<key>API_KEY</key>
	<string>AIzaSyCXb6d9ggzqeBOfnx44iDlzzB9SuGc8LU4</string>
	<key>GCM_SENDER_ID</key>
	<string>402738181890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jemzza.Keemoji</string>
	<key>PROJECT_ID</key>
	<string>keemoji-13f5c</string>
	<key>STORAGE_BUCKET</key>
	<string>keemoji-13f5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402738181890:ios:59b9372642d5496447b41b</string>
	<key>DATABASE_URL</key>
	<string>https://keemoji-13f5c.firebaseio.com</string>
</dict>
</plist>